@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap'); */

@font-face {
  font-family: "Just Me Again Down Here";
  src: url("/fonts/JustMeAgainDownHere-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/fonts/ChakraPetch-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #7AC74F;

}

.dpad-container {
  margin-left: 4% ;
  margin-bottom: 2.5%;
  width: 13%;
  height: 23%;
}

.screen-container {
  margin-left: 12.7% ;
  margin-bottom: 3%;
  height: 80%;
  width: 45%;
}

.button-container {
  margin-left: 2% ;
  margin-bottom: 18%;
  padding: 10%;
}

.dpad-buttons {
  margin: 10%;
}

.dpad-image {
  width: 60%;
}
